@font-face {
    font-family: 'muhamedlabs';
    src: url('GrosVentre-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muhamedlabs';
    src: url('GrosVentre-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'muhamedlabs';
    src: url('GrosVentre-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
